body {
    font-family: 'Calibri', sans-serif; /* Fonte padrão Colibri sem serifa */
    text-align: center;
    background-color: #b3cde0; /* Tom azul claro pastel */
    margin: 0;
    padding: 0;
    color: rgb(65, 65, 65);
    -webkit-font-smoothing: antialiased; /* Suavização de fontes */
    -moz-osx-font-smoothing: grayscale; /* Suavização de fontes */
}

span {
    display: block;
}

.container {
    margin-top: 50px;
    padding: 0 20px;
    position: relative;
    min-height: 100vh; /* Garantir que o container ocupe a altura total da viewport */
    box-sizing: border-box;
}

.photo-section {
    margin-bottom: 10px;
}

.photo {
    width: 50%;
    height: auto;
    object-fit: cover;
    max-width: 280px;
}

.message {
    font-size: 2rem;
    margin: 20px auto; /* Centralizar horizontalmente */
    display: block;
    height: 12vh;
    max-width: 480px; /* Largura máxima */
}

.sub-message {
    font-size: .9rem;
}

.testimony {
    background-color: rgba(255, 255, 255, 0.727);
    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    animation: fadeIn 0.1s ease-in-out forwards; /* Animação de fade-in */
}

.friend-name {
    font-style: italic;
    color: rgb(80, 80, 80);
    font-size: 1rem;
    padding-top: 8px;
}

.highlight {
    color: black; /* Cor inicial preta */
    font-weight: bolder;
    animation: fadeIn 2s ease-in, textTransform 2s ease-in-out, colorChange 2s ease-in-out forwards; /* Animação de fade-in, transformação de texto e mudança de cor */
    display: inline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        color: black;
    }
    100% {
        color: red;
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0091ff;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed; /* Fixar o botão no rodapé */
    bottom: 20px; /* Distância do rodapé */
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease; /* Transição suave de cores */
}

button:hover {
    background-color: #69a7d6;
}

.carousel {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    overflow-x: auto; /* Adicionar rolagem horizontal */
    white-space: nowrap; /* Impedir quebra de linha */
}

.carousel img {
    max-width: 240px;
    max-height: 240px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer; /* Cursor de ponteiro para indicar que a imagem é clicável */
    transition: transform 0.3s ease; /* Transição suave para a transformação */
    display: inline-block; /* Manter as imagens em linha */
}

.carousel img.enlarged {
    width: auto;
    max-width: 60vw;
    max-height: 248px;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); /* Ampliar a imagem */
}

#closeButton {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 10px;
    right: 10px;
    height: 48px;
    width: 124px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6d6d6d;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1001;
}

@media (max-width: 600px) {
    .message {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
