body {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    background-color: #b3cde0; 
    margin: 0;
    padding: 0;
    color: rgb(65, 65, 65);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

span {
    display: block;
}

.container {
    margin-top: 50px;
    padding: 0 20px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

.photo-section {
    margin-bottom: 10px;
}

.photo {
    width: 50%;
    height: auto;
    object-fit: cover;
    max-width: 280px;
}

.message {
    font-size: 2rem;
    margin: 0 auto; 
    display: block;
    height: 12vh;
    max-width: 460px;
}

.sub-message {
    font-size: .9rem;
}

.testimony {
    background-color: rgba(239, 239, 239, 0.727);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    animation: fadeIn 0.1s ease-in-out forwards; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony img {
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.603); 
}

.friend-name {
    font-style: italic;
    color: rgb(80, 80, 80);
    font-size: 1rem;
    padding-top: 8px;
    text-decoration: underline;
}

.highlight {
    color: black; 
    font-weight: bolder;
    animation: fadeIn 2s ease-in, textTransform 2s ease-in-out, colorChange 2s ease-in-out forwards; 
    display: inline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        color: black;
    }
    100% {
        color: red;
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0091ff;
    color: white;
    border: none;
    border-radius: 5px;
    position: fixed; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #69a7d6;
}

.carousel {
    display: none; 
    margin-top: 20px;
    overflow-x: auto; 
    white-space: nowrap;
}

.carousel img {
    max-width: 240px;
    max-height: 240px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
    display: inline-block; 
}

.carousel img.enlarged {
    width: auto;
    max-width: 60vw;
    max-height: 248px;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); 
}

#closeButton {
    display: none; 
    position: fixed;
    top: 10px;
    right: 10px;
    height: 48px;
    width: 124px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6d6d6d;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1001;
}

@media (max-width: 600px) {
    .message {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
